.container{
            display:grid;
            column-gap: 20px;
            row-gap: 20px;
            grid-template-columns:auto auto auto;
            background-color: rgb(43, 129, 226);
            padding:10px;
        }
        .container>div{
            background-color: #f1f1f1;
            border:1px solid black;
            padding: 10px;
            font-size: 30px;
            text-align:center;
        }
       .grid-1{
            grid-row-start: 1;
            grid-row-end:3;
        }